<head>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  </head>
  <div class="body">
    <div class=" sidenav">
        <img src="../../../assets/images/steg.png" class="image">
        <div class="nav">
        <ul class="nav nav-pills nav-stacked" >
          <div class="navbar">
            <li class="active"> <div class="dropdown">
              <button class="btn btn " type="button" id="dropdownMenu2" data-toggle="dropdown" routerLink="/acceuil">
              Acceuil
              </button>
            </div></li>
         
           <li class="active"> <div class="dropdown">
              <button class="btn btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiche Presse
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"  routerLink="/journaliste">Journalistes</button>
                <button class="dropdown-item" type="button"  routerLink="/media">Media</button>
              </div>
            </div></li>
            <li class="active"> <div class="dropdown">
              <button class="btn btn " type="button" id="dropdownMenu2" data-toggle="dropdown"  routerLink="/retombee">
              Retombée du presse
              </button>
            </div></li>
      
            <li class="active"> <div class="dropdown">
              <button class="btn btn " type="button" id="dropdownMenu2" data-toggle="dropdown"  routerLink="/verifie">
           Les demandes de vérification 
              </button>
            </div></li>
            <li class="active"> <div class="dropdown">
              <button class="btn btn " type="button" id="dropdownMenu2" data-toggle="dropdown"  routerLink="/utilisateurs">
           Les utilisateurs 
              </button>
            </div></li>
            <li class="active"> <div class="dropdown">
              <button class="btn btn " type="button" id="dropdownMenu2" data-toggle="dropdown"  routerLink="/Admin">
           Les administrateurs 
              </button>
            </div></li>
          </div>
        </ul><br>
    </div>
       </div>
    </div>