<app-nav></app-nav>
<div class="container-fluid">
  <div class="row content">
<div class="col-sm-3 sidenav">
<app-nav-side></app-nav-side>
</div>
      <div class="col-sm-4">
      
        <form id="form1"  class="form-group main-contact-form col-md-12 col-lg-12  wow fadeIn">
          <h2 class="titre">AFFICHER MEDIA:<br> </h2>
          <img [src]=media.img alt="" style="width: 50%;">
          <h4 class="text">IDENIFICATION: </h4>
         <h5><Strong> Média : </Strong>{{media.Media}}</h5>
          <h5><Strong> Type-Media : </Strong>{{media.TypeMedia}}</h5>
          <h5> <Strong>Neutralité : </Strong>{{media.Neutralite}}</h5>
         <h5> <Strong>Diffusion  : </Strong>{{media.Diffusion}}</h5>
          <h5><Strong> Fondation  : </Strong>{{media.Fondation}}  </h5>
         <h5>  <Strong>Contenu  : </Strong>{{media.Contenu}} </h5>
         <h5> <Strong> Spécialité  : </Strong>{{media.Specialite}}</h5>
        
              <h4 class="text">ÉQUIPE DE RÉDACTION: </h4>
              <h5><Strong>Fondateur/Directeur : </Strong>{{media.Fondateur}}</h5>
              <h5><Strong>Rédacteur en chef : </Strong>{{media.Redacteur}}</h5>
              <h5><Strong>Assistant de rédaction  : </Strong>{{media.Assistant}}</h5>
              <h5><Strong>Chef de rubrique Sport  : </Strong>{{media.ChefDeRubriqueSport}}</h5>
              <h5><Strong>Chef de rubrique Économie  : </Strong>{{media.ChefDeRubriqueEconomie}}</h5>
              <h5><Strong>Chef de rubrique Culture : </Strong>{{media.ChefDeRubriqueCulture}}</h5>
              <h5><Strong>Chef de rubrique Nation  : </Strong>{{media.ChefDeRubriqueNation}}</h5>
              <h5><Strong>Chef de rubrique International   : </Strong>{{media.ChefDeRubriqueInternational}}</h5>
            


              <h4 class="text">MARKETING & PUB : </h4>
             <h5 ><Strong>Tirage : </Strong>{{media.Tirage}}  </h5>
             <h5 ><Strong>Distribution : </Strong>{{media.Distribution}}  </h5>
             <h5 ><Strong>Audience : </Strong>{{media.Audience}}  </h5>
             <h5 ><Strong>Tarifs Publicitaires : </Strong>{{media.TarifsPublicitaires}}  </h5>
             <h5 ><Strong>Contact : </Strong>{{media.Contact}}  </h5>
             <h4 class="text">AUTRES INFOS  : </h4>
             <h5 ><Strong>Autre : </Strong>{{media.Autre}}  </h5>
  
          </form>
          </div>
          <div class="col-sm-4">
        
            <form  class="form-group main-contact-form col-md-12 col-lg-12  wow fadeIn" id="form1">
              <h4 class="text">COORDONNEES : </h4>
              <h5><Strong>Standard  :</Strong>{{media.Standard}} </h5>
             <h5><Strong> Fax  : </Strong>{{media.Fax}}</h5>
             <h5> <Strong>Mail  : </Strong>{{media.Mail}} </h5>
             <h5><Strong> Réseaux sociaux  : </Strong>{{media.Reseaux}}</h5>
             <h5><Strong> Adresse  : </Strong>{{media.Adresse}}</h5>
             <h5><Strong> Site web : </Strong>{{media.Site}} </h5>
             <h5> <Strong>Date & Heure de bouclage/tombée  : </Strong>{{media.DateBouclage}}</h5>
             <h5><Strong> Ondes de diffusion (Radio)  : </Strong>{{media.Ondes}}</h5>
             <h5><Strong>Zone de diffusion (Radio) : </Strong>{{media.Zone}}:</h5> 
            <h5> <Strong> Coordonnées Satellites (TV)  : </Strong>{{media.Coordonnees}} </h5>
          
          </form>
              </div>
            </div>
            </div>
    
    
    
  
