
<app-nav></app-nav>
<div class="container-fluid">
  <div class="row content">
<div class="col-sm-3 sidenav">
<app-nav-side></app-nav-side>
</div>
  <div class="col-md-7 col-md-offset-1"id="tableau">
      <div class="button">
        <form class="comment_form" [formGroup]="searchForm"  id="message"
        class="form-group main-contact-form col-md-12 col-lg-12  wow fadeIn" data-wow-delay="0.2s">
        <input type="search" id="site-search" class="chercher" required formControlName="search">&nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" (click) = "search(this.searchForm.value)  " >Chercher</button>&nbsp;&nbsp;&nbsp;&nbsp;
     
      <button type="button" class="btn btn-primary" routerLink="/ajouterMedia">Ajouter</button>&nbsp;&nbsp;&nbsp;&nbsp;
      </form>
  </div>
          <table class="table table-light" id="tableau1">
             
              <thead>
                  <tr>
                      <th>Média </th>
                      <th class="date">Fondation </th>
                      <th>Adresse </th>
                      <th>Standard </th>
                     
                      <th>Mail </th>
                      <th>Site web</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr   *ngFor="let e of medias">
                      <td>{{e.Media}}</td>
                      <td>{{e.Fondation}}</td>
                      <td>{{e.Adresse}}</td>
                      <td>{{e.Standard}}</td>
                      <td>{{e.Mail}}</td>
                      <td>{{e.Site}}</td>
                 
                      <td>
                        <button style="background-color: transparent;border: none;"  title="Imprimer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" (click)="getMedia2(e._id)"  class="bi bi-printer" viewBox="0 0 16 16">
                                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                              </svg>
                         </button>
                          <button style="background-color: transparent;border: none;"  title="consulter">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" class="bi bi-book" (click)="getMedia(e._id)"
                              viewBox="0 0 16 16">
                              <path
                                  d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                          </svg></button>
                          <button style="background-color: transparent;border: none;"  title="supprimer">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor"  class="bi bi-trash"(click)="deleteMedia(e._id)"
                              viewBox="0 0 16 16">
                              <path
                                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                              <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                          </svg></button>
                          <button style="background-color: transparent;border: none;"  title="Modifier">
                          <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor"  (click)="updateMedia(e._id)" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            </button>
                        

                      </td>
                  </tr>
                
              </tbody>
          </table>
   
</div> 
    
</div>
</div>

